.header{
background-image:url("/public/assets/netflix.jpeg");
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;

  background-color: black; */
  
  }
  